@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* jika ingin menambahkan CSS custom, boleh di bawahnya */
body {
  @apply font-sans bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100;
}
/* hide-scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.form-input {
  @apply block w-full p-2.5 border border-gray-300 rounded-lg bg-gray-50 text-sm text-gray-900 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white focus:ring-blue-500 focus:border-blue-500;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.scroll-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.question-content img,
.html-content img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.preview-content {
  max-height: 100px;
  overflow: hidden;
}
